<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="deviceSettingGroup">
      <section name="deviceConfig" type="SanwaMarco.DeviceConfiguration,SanwaMarco" />
    </sectionGroup>
  </configSections>
  <deviceSettingGroup>
    <deviceConfig>
      <devices>
        <!--
        ** 必要欄位 **
          [name]: 名稱, [enable]: 是否啟用, [conn_type]: 連線類型(Socket or ComPort), [conn_address]: 連線位置
          [vendor]: 設備商
        ** 非必要欄位 **
          [conn_port]: 連接 port, [com_baud_rate]: 預設 9600, [com_parity_bit]: 預設 None,[com_data_bits]: 預設 8,[com_stop_bit]: 預設 1
        -->
        <device enable ="1" name = "Robot01" vendor="SANWA" conn_type = "Socket" conn_address = "192.168.0.127" conn_port = "23" >
        </device>
        <device enable ="1" name = "DNM01" vendor="ICPDAS" conn_type = "ICPDeviceNet" conn_address = "" file="mini.xls">
        </device>
      </devices>
    </deviceConfig>
  </deviceSettingGroup>
</configuration>